.campo{
    width: 300px;
}
.login{
    margin-top: 50px;
}
button.active-left {
    width: 150px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: solid 1px #007bff;
    background-color: #007bff;
    color: #fff;
  }
  button.active-right {
    width: 150px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: solid 1px #007bff;
    background-color: #007bff;
    color: #fff;
  }
  button.disabled-left{
    width: 150px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: solid 1px gray;
    background-color: gray;
    color: #fff;
  }
  button.disabled-right{
    width: 150px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: solid 1px gray;
    background-color: gray;
    color: #fff;
  }
  .sign{
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border: solid 1px gray;
    background-color: gray;
    color: #fff;
  }